In [9]:
import pandas as pd

In [2]:
d = dict(A=1, B=2, C=3, D=4)
d

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [8]:
d[('A','B')]

KeyError: ('A', 'B')

In [11]:
file = "/home/sur/micropopgen/exp/today/mktest/Streptococcus_sp_57750/mk_results.Buccal.mucosa_Tongue.dorsum.txt"
pd.read_csv(file, sep="\t").head()

              gene    contig  start   end  Dn  Ds  Pn  Ps        hg  hg.pval
0  1156433.3.peg.1  CP006776   1134  2262   6   3  29  71  0.238095      NaN
1  1156433.3.peg.2  CP006776   2271  2427   0   0   2  15  0.187500      NaN
2  1156433.3.peg.3  CP006776   2531  2897   0   0   3  13  0.285714      NaN
3  1156433.3.peg.4  CP006776   2935  4101   1   1   3   1  2.000000      NaN
4  1156433.3.peg.5  CP006776   4162  4562   2   0  13  10  0.424242      NaN