In [2]:
# The purpose of these notebook is to create 
# The skeleton of a database, and populate it with HMP data
import sqlite3
# import csv
import pandas as pd

In [3]:
# Filenames
sample_file = '/home/sur/micropopgen/data/HMP/hmp_catalogue_wgs_all_metadata.csv'
runs_file = '/home/sur/micropopgen/data/HMP/2017-07-17.all_runs/all_runs.txt'

In [4]:
# Read sample metadata
samples = pd.read_csv(sample_file)
samples.head()

,Sequence Read Archive ID,NCBI Taxon ID,NCBI Project ID,HMP Isolation Body Site,HMP Isolation Body Subsite,HMP Body Product,Isolation Source,Project Status,Gene Count,Reads Count,...,Funding Source,Sequencing Method,Assembly Methods,Gene Calling Methods,Addition Date,Last Modification Date,Host Gender,MRN (Subject ID),Visit Number,Replicate Number
0,SRS011061,646099,48479,gastrointestinal_tract,NaN,Stool,NaN,Complete,173933,77700000,...,NIH-HMP,NaN,NaN,NaN,2011-04-25T20:00:00,2011-08-15T20:00:00,Female,158458797,1,0
1,SRS011084,646099,48479,gastrointestinal_tract,NaN,Stool,NaN,Complete,0,141800000,...,NIH-HMP,NaN,NaN,NaN,2011-04-25T20:00:00,2011-08-15T20:00:00,Male,158479027,1,0
2,SRS011086,646099,48479,oral,Tongue dorsum,NaN,NaN,Complete,86427,65200000,...,NIH-HMP,NaN,NaN,NaN,2011-04-25T20:00:00,2011-08-15T20:00:00,Female,158458797,1,0
3,SRS011090,646099,48479,oral,Buccal mucosa,NaN,NaN,Complete,9445,74100000,...,NIH-HMP,NaN,NaN,NaN,2011-04-25T20:00:00,2011-08-15T20:00:00,Female,158458797,1,0
4,SRS011098,646099,48479,oral,Supragingival plaque,NaN,NaN,Complete,120288,137800000,...,NIH-HMP,NaN,NaN,NaN,2011-04-25T20:00:00,2011-08-15T20:00:00,Female,158458797,1,0

In [5]:
# Read run metadata
runs = pd.read_csv(runs_file,sep='\t')
runs.head()

,study_accession,secondary_study_accession,sample_accession,secondary_sample_accession,experiment_accession,run_accession,submission_accession,tax_id,scientific_name,instrument_platform,...,sra_ftp,sra_aspera,sra_galaxy,cram_index_ftp,cram_index_aspera,cram_index_galaxy,sample_alias,broker_name,sample_title,subject_id
0,PRJNA48479,SRP002163,SAMN00032498,SRS011061,SRX023565,SRR060370,SRA020838,646099,human metagenome,ILLUMINA,...,NaN,NaN,NaN,NaN,NaN,NaN,700014562,NaN,Human metagenome sample from G_DNA_Stool of a ...,NaN
1,PRJNA48479,SRP002163,SAMN00032498,SRS011061,SRX023566,SRR060371,SRA020838,646099,human metagenome,ILLUMINA,...,NaN,NaN,NaN,NaN,NaN,NaN,700014562,NaN,Human metagenome sample from G_DNA_Stool of a ...,NaN
2,PRJNA48479,SRP002163,SAMN00032521,SRS011084,SRX024515,SRR061903,SRA020838,646099,human metagenome,ILLUMINA,...,NaN,NaN,NaN,NaN,NaN,NaN,700014724,NaN,Human metagenome sample from G_DNA_Stool of a ...,NaN
3,PRJNA48479,SRP002163,SAMN00032521,SRS011084,SRX024516,SRR061904,SRA020838,646099,human metagenome,ILLUMINA,...,NaN,NaN,NaN,NaN,NaN,NaN,700014724,NaN,Human metagenome sample from G_DNA_Stool of a ...,NaN
4,PRJNA48479,SRP002163,SAMN00032521,SRS011084,SRX024714,SRR062102,SRA020838,646099,human metagenome,ILLUMINA,...,NaN,NaN,NaN,NaN,NaN,NaN,700014724,NaN,Human metagenome sample from G_DNA_Stool of a ...,NaN

In [6]:
# Checking columns that have SRA sample ID (ie SRS###)
print(samples['Sequence Read Archive ID'].head())
print(runs['secondary_sample_accession'].head())

0    SRS011061
1    SRS011084
2    SRS011086
3    SRS011090
4    SRS011098
Name: Sequence Read Archive ID, dtype: object
0    SRS011061
1    SRS011061
2    SRS011084
3    SRS011084
4    SRS011084
Name: secondary_sample_accession, dtype: object

In [7]:
# Dropping unnecessary columns from pandas data frames
samples_small = samples.drop(['NCBI Taxon ID', 'NCBI Project ID',
                              'Project Status', 'Gene Count',
                              'Reads Count', 'Size (KB)',
                              'GC Content', 'IMG/HMP ID',
                              'Sequencing Center',
                              'Sequencing Country',
                              'Funding Source', 'Sequencing Method',
                              'Assembly Methods','Gene Calling Methods',
                              'Addition Date',
                              'Last Modification Date',
                              'Isolation Source',
                              'HMP Body Product'],
                             axis = 1)
runs_small = runs.drop(['study_accession',
                        'secondary_study_accession',
                        'sample_accession',
                        'experiment_accession',
                        'study_title','study_alias',
                        'submission_accession','tax_id',
                        'scientific_name','instrument_platform',
                        'library_source','library_selection',
                        'read_count','base_count','center_name',
                        'first_public','last_updated',
                        'nominal_length','library_strategy',
                        'run_alias','fastq_bytes','fastq_md5',
                        'fastq_ftp','fastq_aspera',
                        'fastq_galaxy','submitted_bytes',
                        'submitted_md5','experiment_alias',
                        'submitted_ftp','submitted_aspera',
                        'submitted_galaxy','submitted_format',
                        'sra_bytes','sra_md5','sra_ftp',
                        'sra_aspera','sra_galaxy',
                        'cram_index_ftp','cram_index_aspera',
                        'cram_index_galaxy','sample_alias',
                        'broker_name','sample_title'],
                       axis = 1)
# print(samples_small.columns)
# print(samples_small.head())
# print(runs_small.columns)
# print(runs_small.head())

In [8]:
# Check that none of the titles wher subject id is missing has
# any information
# HAVE NOT CHECKED THAT SUBJECT IDs IN TITLE MATCH COLUMN
runs_small.loc[ runs_small['subject_id'].isnull(), 'experiment_title'].unique()

array([ 'Illumina Genome Analyzer II paired end sequencing; Deep WGS Genome Sequencing of HMP clinical samples',
       'Illumina Genome Analyzer II sequencing; Deep WGS Genome Sequencing of HMP clinical samples',
       'Illumina Genome Analyzer II paired end sequencing',
       '454 GS FLX Titanium sequencing',
       'Illumina HiSeq 2000 paired end sequencing',
       'Illumina Genome Analyzer II paired end sequencing; Illumina sequencing of Clinical Metagenomic Shotgun Production 764305738-700024545-zg_g_dna_stool paired end RANDOM library',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700098677-PE-1 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700098681-PE-1 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700107197-PE-01 Experiment ',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700102307-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700107195-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700107201-PE-01 Experiment',
       'Illumina HiSeq 1000 paired end sequencing',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700107189-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700102305-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700102311-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700111032-PE-01 Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700111038-PE-01 Experiment Run',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700111026-PE-1  Experiment',
       'Illumina Genome Analyzer II paired end sequencing; HUMAN METAGENOME 700111034-PE-1 Experiment',
       'Illumina HiSeq 1000 paired end sequencing; Illumina Sequencing of Clinical Metagenomic sample for Human Microbiome Project'], dtype=object)

In [9]:
# Identify the subsites without body site
subsites = samples_small['HMP Isolation Body Subsite']
subsite_missing = subsites.isnull()
sites = samples_small.loc[subsite_missing,'HMP Isolation Body Site']
sites.value_counts(dropna=False)

gastrointestinal_tract    157
oral                        5
Name: HMP Isolation Body Site, dtype: int64

In [10]:
# Check body subsite for all GI samples
sites = samples_small['HMP Isolation Body Site']
sites.value_counts(dropna=False)
sites_gi = sites == 'gastrointestinal_tract'
subsite = samples_small.loc[ sites_gi, 'HMP Isolation Body Subsite']
subsite.value_counts(dropna=False)

NaN      157
Stool     97
Name: HMP Isolation Body Subsite, dtype: int64

In [11]:
# All samples from GI tract are from stool, so I will change the NaN to that
samples_small.loc[ samples_small['HMP Isolation Body Site'] == 'gastrointestinal_tract',
                  'HMP Isolation Body Subsite'] = 'Stool'
# Check body subsite for all GI samples
sites = samples_small['HMP Isolation Body Site']
sites.value_counts(dropna=False)
sites_gi = sites == 'gastrointestinal_tract'
subsite = samples_small.loc[ sites_gi, 'HMP Isolation Body Subsite']
subsite.value_counts(dropna=False)

Stool    254
Name: HMP Isolation Body Subsite, dtype: int64

In [12]:
# There are 5 oral samples that have no subsite. I will set them to 'oral'
samples_small.loc[ samples_small['HMP Isolation Body Subsite'].isnull() &
                  (samples_small['HMP Isolation Body Site'] == 'oral'),
                  'HMP Isolation Body Subsite'] = 'oral'

In [13]:
samples_small['HMP Isolation Body Site'].value_counts(dropna=False)

oral                      690
gastrointestinal_tract    254
airways                   138
urogenital_tract          128
skin                       55
Name: HMP Isolation Body Site, dtype: int64

In [14]:
samples_small['HMP Isolation Body Subsite'].value_counts(dropna=False)

Stool                           254
Tongue dorsum                   221
Supragingival plaque            210
Buccal mucosa                   185
Nares                           138
Posterior fornix                108
Retroauricular crease            54
Palatine tonsils                 20
Subgingival plaque               19
Throat                           13
Vaginal                          12
Vaginal introitus                 8
Attached Keratinized gingiva      8
Attached/Keratinized gingiva      6
oral                              5
Saliva                            2
Hard palate                       1
Antecubital fossa                 1
Name: HMP Isolation Body Subsite, dtype: int64

In [18]:
# Now I have homogenized the body subsites. I will fill the table
conn = sqlite3.connect('/home/sur/micropopgen/data/database/metagenomes.db')
c = conn.cursor()

# Iterate and add
for i,r in samples_small.head().iterrows():
    #print(r)
    values = (r['MRN (Subject ID)'],r['HMP Isolation Body Subsite'],
             r['Visit Number'],'NULL',
             r['Sequence Read Archive ID'],
             'Homo sapiens',
             r['Replicate Number'])
    #print(values)
    c.execute("insert into sample values (null,?,?,?,?,?,?,?)", values)
    print(r['Sequence Read Archive ID'])
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: sample.SRS

In [19]:
#############
# Now we move to the runs table
# Merge tables to get subject ID
merged = pd.merge(samples_small, runs_small,
                  right_on='secondary_sample_accession',
                  left_on = 'Sequence Read Archive ID')
merged.head()
# runs_small.head()
# merged.columns
# print(merged['MRN (Subject ID)'].head())
# print(merged['subject_id'].head())
# print(merged.loc[ merged['subject_id'].notnull(), 'subject_id'].head())
# print(merged.loc[ merged['subject_id'].notnull(), 'MRN (Subject ID)'].head())

,Sequence Read Archive ID,HMP Isolation Body Site,HMP Isolation Body Subsite,Host Gender,MRN (Subject ID),Visit Number,Replicate Number,secondary_sample_accession,run_accession,instrument_model,library_name,library_layout,experiment_title,subject_id
0,SRS011061,gastrointestinal_tract,Stool,Female,158458797,1,0,SRS011061,SRR060370,Illumina Genome Analyzer II,Solexa-27630,PAIRED,Illumina Genome Analyzer II paired end sequenc...,NaN
1,SRS011061,gastrointestinal_tract,Stool,Female,158458797,1,0,SRS011061,SRR060371,Illumina Genome Analyzer II,Solexa-27630,PAIRED,Illumina Genome Analyzer II paired end sequenc...,NaN
2,SRS011084,gastrointestinal_tract,Stool,Male,158479027,1,0,SRS011084,SRR061903,Illumina Genome Analyzer II,Solexa-28680,PAIRED,Illumina Genome Analyzer II paired end sequenc...,NaN
3,SRS011084,gastrointestinal_tract,Stool,Male,158479027,1,0,SRS011084,SRR061904,Illumina Genome Analyzer II,Solexa-28680,PAIRED,Illumina Genome Analyzer II paired end sequenc...,NaN
4,SRS011084,gastrointestinal_tract,Stool,Male,158479027,1,0,SRS011084,SRR062102,Illumina Genome Analyzer II,Solexa-28680,PAIRED,Illumina Genome Analyzer II paired end sequenc...,NaN

In [20]:
conn = sqlite3.connect('/home/sur/micropopgen/data/database/metagenomes.db')
c = conn.cursor()
# Iterate and add
for i,r in merged.head().iterrows():
    #print(r)
    values = (r['secondary_sample_accession'],
              r['MRN (Subject ID)'],
              r['instrument_model'],
              r['library_layout'],
              r['run_accession'])
    #print(values)
    c.execute("insert into run values (null,?,?,?,?,?)", values)
    print(r['run_accession'])
conn.commit()
conn.close()

SRR060370
SRR060371
SRR061903
SRR061904
SRR062102

In [23]:
conn = sqlite3.connect('/home/sur/micropopgen/data/database/metagenomes.db')

#samples_small.head()
pd.read_sql_query("select * from sample limit 10;", conn)

,sample_id,subject_id,body_site,visit,age,SRS,host_species,replicate
0,1,158458797,Stool,1,NULL,SRS011061,Homo sapiens,0
1,2,158479027,Stool,1,NULL,SRS011084,Homo sapiens,0
2,3,158458797,Tongue dorsum,1,NULL,SRS011086,Homo sapiens,0
3,4,158458797,Buccal mucosa,1,NULL,SRS011090,Homo sapiens,0
4,5,158458797,Supragingival plaque,1,NULL,SRS011098,Homo sapiens,0

In [ ]:
#samples_small.head()
pd.read_sql_query("select * from run limit 20;", conn)
conn.close()