In [36]:
# Copyright (C) 2017 Sur Herrera Paredes
import pandas as pd
import numpy as np

In [2]:
def split_gene_annotations(functions, sep1=';', sep2=':', sep3=','):
    """Take annotation string from MIDAS database and expand it
    into a table of Annotation<->Gene"""
    
    # Split strings and create dictionary
    by_type = functions.split(sep=sep1)
    annotations = {}
    for t in by_type:
        db, annots = t.split(sep=sep2)
        annots = annots.split(sep=sep3)
        annotations[db] = annots
    
    # Get dataframe from dictionary
    d = _create_annotation_dataframe(annotations)
    return(d)

def _create_annotation_dataframe(annotations):
    """Expands annotation of one gene"""
    
    d = pd.DataFrame()
    for k,a in annotations.items():
        d2 = pd.DataFrame(data = a, columns=['Annotation'])
        d2['Type'] = k
        #print(d2)
        d = d.append(d2)
    return(d)

In [3]:
# Parameters
infile = "Zymomonas_mobilis_61858/genome.features"

In [4]:
Feat = pd.read_csv(infile,sep="\t")
Feat.head()

,gene_id,scaffold_id,start,end,strand,gene_type,functions
0,579138.3.peg.1,CP002865,210,473,+,CDS,"GO:0003723,0003735,0005622,0005840,0006412;KEG..."
1,579138.3.peg.2,CP002865,1218,2669,+,CDS,FIGFAM:FIG00000441
2,579138.3.peg.3,CP002865,2764,4632,+,CDS,"GO:0005524,0016887;KEGG:0005524,0016887;FIGFAM..."
3,579138.3.peg.4,CP002865,5041,6132,+,CDS,FIGFAM:FIG00988798
4,579138.3.peg.5,CP002865,6197,6331,+,CDS,NaN

In [6]:
split_gene_annotations(functions=functions)

    Annotation    Type
0      0003723      GO
1      0003735      GO
2      0005622      GO
3      0005840      GO
4      0006412      GO
0      0003723    KEGG
1      0003735    KEGG
2      0005622    KEGG
3      0005840    KEGG
4      0006412    KEGG
0  FIG00000213  FIGFAM
0      0003723      EC
1      0003735      EC
2      0005622      EC
3      0005840      EC
4      0006412      EC

In [40]:
ngenes = 0
ncds = 0
nannot = 0
for i, r in Feat.head().iterrows():
    g = r['gene_id']
    a = r['functions']
    t = r['gene_type']
    ngenes = ngenes + 1
    # print(a)
    # print("============")
    
    # Keep only CDS
    if t != 'CDS':
        continue
    ncds = ncds + 1
    # Skip unannotated genes
    if np.isnan(a):
        continue
    nannot = nannot + 1
    
    d = split_gene_annotations(functions=a)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [25]:
a

nan

AttributeError: 'float' object has no attribute 'isnull'

True